body{
    font-family: "Nunito Sans", sans-serif;
    background-color: #fafafa;
    min-height: 100vh;
    color: #111517;
    transition: background-color 1s ease-in-out;

}   


.navbar {
    height: 60px;
    padding: 15px 60px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
    display: flex;
    justify-content: space-between;
    
}

.header-mode{
    display: flex;
    align-items: center;
}


.header-title {
    font-size: 18px;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.header-btn {
    border: none;
    color: #111517;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
  
}

.country{
    margin: 50px 60px;

}

.country-btn{
    position: relative;
    width: 95px;
    height: 28px;
    text-align: center;
    background-color: #fafafa;
    color: #111517;
    font-size: 13px;
    font-weight: 300;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
}
.country-button-icon {
    font-size: 15px;
    position: absolute;
    left: 15px;
    top: 6px;
}
.country-btn span{
    margin-left: 8px;
}

.country-section {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    height: 400px;
   

}
.country-flag{
    width: 40%;
}
.country-flag img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.country-details{
    width: 50%;
    padding: 40px 20px 0 90px;
   
}

.country-details-title {
    font-size: 25px;
    font-weight: 800;

}

.country-details-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px;
    line-height: 20px;

}


.country-details-elements p {
    font-size: 14px;
    font-weight: 300;

}

.country-details-elements p span{
    font-weight: 600;

}

.country-details-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}
.country-details-list p {
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 10px;

}

.country-details-list p span{
   
    font-weight: 600;

   
}


.country-details-btn {
    height: 25px;
    padding: 5px 25px;
    margin-right: 7px;
    margin-bottom: 10px;
    background-color: #fafafa;
    color: #111517;
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, .2);
}

.no-border {
    margin-bottom: 10px; 
    font-size: 15px;
    font-style: italic; 
    color: #555; 
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;  
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.dark-mode .no-border {
    margin-bottom: 10px; 
    font-size: 15px;
    font-style: italic; 
    color: #f3f3f3; 
}

body.dark-mode  {
    background-color: #202c37;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}


.dark-mode .navbar {
    background-color: #2b3945;
    box-shadow: 0 7px 29px 0 rgb(105 105 115 / 20%);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;


    
}
.dark-mode svg{
    stroke: white;
    fill: white;
    stroke-width: 0;
    height: 1em;
    width: 1em;
 

}



.dark-mode .header-title{
    color: #fff;
    font-size: 18px;
    font-weight: 800;
   

}



.dark-mode .header-btn {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
 

    
}


.dark-mode .country-btn {
    background-color: #2b3945;
    color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
   

}

.dark-mode .country-section {
    background-color: #202c37;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   

}

.dark-mode .country-details {
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    
    
}


.theme-transition {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  

.dark-mode .country-details-btn {
    background-color: #2b3945;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
   box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
   
 
}
   


.dark-mode .country-details-elements {
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
 
}

.dark-mode a {
    color: #fff;
}


